$red: red;

$page-colour: #d9e7f4;
$page-font: 'Josefin Sans', sans-serif;
$header-dot-border: 12px solid #dcdcdc;
$main-content-width: 1010px;
$complementary-background-colour: #428bca;
$default-background-colour: white;
$border-theme-pattern: 2px dotted $complementary-background-colour;
$user-page-frame: 15px groove $complementary-background-colour;


